<!DOCTYPE html>
<html>
<head>
	<title>JiroPlay</title>
	<link rel="stylesheet" type="text/css" href="static/fonts/nova/fonts.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/header.css">
	<link rel="stylesheet" type="text/css" href="static/css/splash.css">
	<link rel="stylesheet" type="text/css" href="static/css/section.css">
	<link rel="stylesheet" type="text/css" href="static/css/animations.css">
	<link rel="stylesheet" type="text/css" href="static/css/features.css">
	<link rel="stylesheet" type="text/css" href="static/css/temp.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>

	<header>
		<div class="container">
			<p> <span>Jiro</span><span>Play</span> </p>
			<nav id="navMenu" onclick="closeMenu();">
				<div id="closeMenu">
					CLOSE
					<img src="static/img/menu_close.png">
				</div>
				<div onclick="scrollToElementPlus('body');" id="homeButton"> Home </div>
				<a href="news"><div> News </div></a>
				<a href="http://developers.jiroplay.com"><div> Developers </div></a>
				<div onclick="scrollToElementPlus('#download');" id="downloadButton"> Download </div>
			</nav>
		</div>
		<div class="hamburger" onclick="toggleMenu();">
			<span> MENU </span>
			<img src="static/img/menu.png">
		</div>
		<div id="navMenuBlack"></div>
	</header>

	<main>

		<div id="splash">
			<h6> JIRO </h6>
			<h1> For a new multiplayer experience </h1>
			<img src="static/img/down.png" onclick="scrollToElementPlus('#download');">
		</div>

		<div class="features">
			<div class="section container pad-top pad-bot">
				<div>
					<img src="http://via.placeholder.com/120">
					<b>Friends & Family</b><br>
					<br>
					Don't like waiting your turn?<br>
					Get everyone playing at once!
				</div>
				<div>
					<img src="static/img/smartphone_feature.png">
					<b>Your controller in your pocket</b><br>
					<br>
					Why buy a controller?<br>
					Use your smartphone.<br>
				</div>
				<div>
					<img src="static/img/ultra-low-latency-feature.png">
					<b>Low Latency</b><br>
					<br>
					Fed up with lag?<br>
					Jiro guarantees a fluid<br>gaming experience
				</div>
				<div>
					<img src="http://via.placeholder.com/120">
					<b>Free and easy</b><br>
					<br>
					Hate ads? Hate spending?<br>
					Start using Jiro in no time!<br>
				</div>
			</div>
		</div>

		<div id="download"></div>

		<div class="section container text-center pad-top">

			<h1> Download it on your pc</h1>
			<h2> Your laptop is your console </h2>

			<br><br><br>

			<a href="#!"><img src="static/img/windows_download_badge.png"></a>

		</div>

		<div class="section container text-center pad-top pad-bot">

			<h1> Get the app</h1>
			<h2> Your phone is your controller </h2>

			<br><br>

			<a href="#!"><img src="static/img/google_play_badge.png" style="width: 240px;" class="va-m"></a><a href="#!"><img src="static/img/app_store_badge.svg" style="padding-left: 15px; width: 210px; padding-right: 15px;" class="va-m"></a>

		</div>

	</main>

	<footer>
		Copyright &#9400; JiroPlay 2018<br><br><br><br>
		<h1> This website is under construction! </h1><br>
		<h2> JiroPlay isn't available to download yet </h2><br>
	</footer>

	<script src="static/js/scrolly-home.js"></script>
	<script src="static/js/hamburger.js"></script>

</body>
</html>