<!DOCTYPE html>
<html>
<head>
	<title>JiroPlay</title>
	<link rel="stylesheet" type="text/css" href="static/fonts/nova/fonts.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/header.css">
	<link rel="stylesheet" type="text/css" href="static/css/splash.css">
	<link rel="stylesheet" type="text/css" href="static/css/section.css">
	<link rel="stylesheet" type="text/css" href="static/css/animations.css">
	<link rel="stylesheet" type="text/css" href="static/css/features.css">
	<link rel="stylesheet" type="text/css" href="static/css/temp.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<header>
		<div class="container">
			<p> <span>Jiro</span><span>Play</span> </p>
			<nav id="navMenu" onclick="menuClick();">
				<div onclick="scrollToElementPlus('body');" id="homeButton"> Home </div>
				<a href="news"><div> News </div></a>
				<a href="http://developers.jiroplay.com"><div> Developers </div></a>
				<div onclick="scrollToElementPlus('#download');" id="downloadButton"> Download </div>
			</nav>
		</div>
		<div class="hamburger" onclick="toggleMenu();">
			<span> MENU </span>
			<img src="static/img/menu.png">
		</div>
		<div id="navMenuBlack"></div>
	</header>

	<main>

		<div id="splash">
			<h6> JIRO </h6>
			<h1> The controller for your pocket </h1>
			<img src="static/img/down.png" onclick="scrollToElementPlus('#download');">
		</div>

		<div class="features">
			<div class="section container pad-top pad-bot">
				<div>
					<img src="http://via.placeholder.com/120">
					<b>Friends & Family</b><br>
					<br>
					Sit down on the couch and play with your friends & family
				</div>
				<div>
					<img src="static/img/smartphone_feature.png">
					<b>Your phone is a controller</b><br>
					<br>
					Use your phone straight away with no need for a controller
				</div>
				<div>
					<img src="static/img/ultra-low-latency-feature.png">
					<b>Low Latency</b><br>
					<br>
					Fluid gaming experience<br>
					<span style="font-size: 18px;">No lag</span>
				</div>
				<div>
					<img src="http://via.placeholder.com/120">
					<b>Free & Easy</b><br>
					<br>
					No need to buy a console<br>Very easy to start using
				</div>
			</div>
		</div>

		<div id="download"></div>

		<div class="section container text-center pad-top">

			<h1> Get the app</h1>
			<h2> and use your phone as a controller </h2>

			<br><br>

			<a href="#!"><img src="static/img/google_play_badge.png" style="width: 240px;" class="va-m"></a><a href="#!"><img src="static/img/app_store_badge.svg" style="padding-left: 15px; width: 210px; padding-right: 15px;" class="va-m"></a>

		</div>

		<div class="section container text-center pad-top pad-bot">

			<h1> Download it on your pc</h1>
			<h2> and have a virtual gaming console </h2>

			<br><br><br>

			<a href="#!"><img class="br-2 hov-dk-2 hov-up-2" src="static/img/windows_download.png"></a>
			<a href="#!"><img class="br-2 hov-dk-2 hov-up-2" src="static/img/apple_download.png"></a>

		</div>

	</main>

	<footer>
		Copyright &#9400; JiroPlay 2018<br><br><br><br>
		<h1> This website is under construction! </h1><br>
		<h2> JiroPlay isn't available to download yet </h2><br>
	</footer>

	<script src="static/js/scrolly-home.js"></script>
	<script src="static/js/hamburger.js"></script>

</body>
</html>