<!DOCTYPE html>
<html>
<head>
	<title>JiroPlay</title>
	<link rel="stylesheet" type="text/css" href="static/fonts/nova/fonts.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/header.css">
	<link rel="stylesheet" type="text/css" href="static/css/section.css">
	<link rel="stylesheet" type="text/css" href="static/css/cards.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<header>
		<div class="container">
			<p> <span>Jiro</span><span>Play</span> </p>
			<nav id="navMenu" onclick="menuClick();">
				<a href="/"><div> Home </div></a>
				<a href="#!"><div class="selected"> News </div></a>
				<a href="http://developers.jiroplay.com"><div> Developers </div></a>
				<a href="/#download"><div> Download </div></a>
			</nav>
		</div>
		<div class="hamburger" onclick="toggleMenu();">
			<span> MENU </span>
			<img src="static/img/menu.png">
		</div>
		<div id="navMenuBlack"></div>
	</header>

	<main>

		<div class="section container text-center pad-top pad-bot">
			<h1> Latest News </h1>
			<br>

			<% for (var newsItem of news) { %>
				<div class="card">
					<h1> <%= newsItem.title %> </h1>
					<% for (var p of newsItem.text) { %>
						<p> <%= p %> </p>
					<% } %>
					<span> <%= newsItem.author %> <i> <%= newsItem.date %> </i> </span>
				</div>
			<% } %>

		</div>

	</main>

	<footer>
		Copyright &#9400; JiroPlay 2018
	</footer>

	<script src="static/js/scrolly.js"></script>
	<script src="static/js/hamburger.js"></script>

</body>
</html>
