<br><br><br><center><h2> JiroPlay - Coming Soon! </h2><br><br><br><br>
<b>This website is under construction!</b><br><br>
This page is password protected...<br>
You must enter admin password to continue:<br><br>
<input type="password" placeholder="Enter password" style="font-size: 18px;" id="sa"><br><p id="sad" style="opacity:0.5;">(Press ENTER to continue)</p>
</center><br><br><br>
<style>#sa{transition:transform 0.3s, outline 0.3s;}#sa:hover{transform:scale(1.4);}#sa:focus{transform:scale(1.8); outline:15px solid rgba(100, 100, 100, 0.7);}</style>
<script>sa.onkeypress = function(e){
    if (!e) e = window.event;
    var keyCode = e.keyCode || e.which;
    if (keyCode == '13'){
      var http = new XMLHttpRequest();
var url = "/admin_login";
var params = "password=" + sa.value;
http.open("POST", url, true);
http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
http.onreadystatechange = function() {
    if(http.readyState == 4 && http.status == 200) {
        if (http.responseText == "welcome")
        {
        	location.reload()
        }
        else
        {
        	alert("Is your password wrong?")
        	location.reload()
        }
    }
}
http.send(params);
      return false;
    }
  }
</script>