.features {
	background: #eee;
}

.features .container div {
	display: inline-block;
	vertical-align: top;
	width: calc(25% - 8px);
	box-sizing: border-box;
	text-align: center;
	font-family: "Proxima Nova";
	font-weight: 400;
	padding-left: 16px;
	padding-right: 16px;
}

.features .container img {
	display: block;
	width: 120px;
	height: 120px;
	margin: 0px auto;
	margin-bottom: 32px;
	border-radius: 64px;
}

@media screen and (max-width: 750px)
{

	.features .container div {
		display: block;
		width: calc(100vw - 40px);
		max-width: 320px;
		margin: 0px auto;
		margin-bottom: 60px;
	}
}