* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #eee;
	font-family: 'proxima_nova_ltthin', Georgia, sans-serif;
	font-weight: bold;
}

main {
	margin-top: 50px;
}

footer {
	padding: 8px;
	text-align: center;
	background: white;
	-webkit-box-shadow: 0px 4px 20px 0px rgba(213,213,213,1);
	-moz-box-shadow: 0px 4px 20px 0px rgba(213,213,213,1);
	box-shadow: 0px 4px 20px 0px rgba(213,213,213,1);
}

img {
	position: relative;
	z-index: 2;
}

.container {
	max-width: 1040px;
	margin: 0px auto;
}

.text-center {
	text-align: center;
}