* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #eee;
	font-family: 'proxima_nova_ltthin', Georgia, sans-serif;
	font-weight: bold;
}

main {
	margin-top: 50px;
}

footer {
	padding: 8px;
	text-align: center;
	background: white;
}

img {
	position: relative;
	z-index: 2;
}

.container {
	max-width: 940px;
	margin: 0px auto;
}

.text-center {
	text-align: center;
}